@model KoraOnlineAdmin.Models.Team

@{
    ViewData["Title"] = "Details";
}

<h1>Team Details</h1>
<hr />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamMatchPlayed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamMatchPlayed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamWon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamWon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamDraw)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamDraw)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamLost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamLost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamGoalFor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamGoalFor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamGoalAg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamGoalAg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamGoalOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamGoalOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coach.CoachName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.League)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.League.LeagueName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TeamId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
