@model IEnumerable<KoraOnlineAdmin.Models.League>

@{
    ViewData["Title"] = "Index";
}

<h1>Kora Online League List </h1>
<hr />
<p>
    <a asp-action="Create"class="btn btn-primary">Add New League </a>
</p>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LeagueName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LeagueImage)
                </th>
                <th class="col-6">Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LeagueName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LeagueImage)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.LeagueId" class="btn btn-primary">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.LeagueId"class="btn btn-info">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.LeagueId"class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
