@model IEnumerable<KoraOnlineAdmin.Models.Coach>

@{
    ViewData["Title"] = "Index";
}

<h1>Kora Online Coaches</h1>

<p>
    <a asp-action="Create"class="btn btn-primary">Create New</a>
</p>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CoachName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CoachImage)
                </th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CoachName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CoachImage)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.CoachId" class="btn btn-primary">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.CoachId" class="btn btn-info">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.CoachId" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>