@model KoraOnlineAdmin.Models.Stadium

@{
    ViewData["Title"] = "Details";
}

<h1>Stadium Details</h1>
<hr />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StadiumName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StadiumName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SatdiumCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SatdiumCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City.CityName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StadiumId" class="btn btn-primary">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
