@model KoraOnlineAdmin.Models.Match

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Match</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatchDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatchDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatchTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatchTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatchStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatchStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatchTeamName1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatchTeamName1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatchTeamName2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatchTeamName2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatchWeek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatchWeek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatchTeamResult1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatchTeamResult1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatchTeamResult2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatchTeamResult2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.League)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.League.LeagueId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Staduim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Staduim.StadiumId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MatchId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
